{
    "extends": ["plugin:prettier/recommended"],
  
    "plugins": ["prettier", "@typescript-eslint", "unused-imports"],
    "parser": "@typescript-eslint/parser",
    "rules": {
      "max-len": [2, { "code": 140, "ignoreComments": true }],
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ],
      "unused-imports/no-unused-imports-ts": "error",
      "unused-imports/no-unused-vars-ts": [
        "warn",
        {
          "vars": "all",
          "varsIgnorePattern": "^_",
          "args": "after-used",
          "argsIgnorePattern": "^_"
        }
      ]
    }
  }